doctype html
html
    head
    meta(charset = 'utf-8')
    meta(name='viewport', content="initial-scale=1.0, width=device-width")
    title PSD-2
    body
        script(src="./index.js")
        .header
            .userInfo
                .avatar
                ul.logs
                    li.name Быстров Борис Викторович
                    li.mail bystrov@gmail.com
            ul.social
                li.gh
                li.sk
                li.vk
        .introBlock
            .intro
                h1 О будущем ученике
                h2 Ребятам из Loftschool будет полезно узнать немного обо мне
                ul.info
                    li.aboutMe
                        .img
                        .text
                            h3 Немного обо мне
                            p Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где неплохо научился верстать.<br>Пока есть только один сайт, которым могу похвастаться: <a href="yandex.ru">www.yandex.ru</a>
                    li.myExp
                        .img
                        .text
                            h3 Мой опыт в разработке
                            p В этом блоке я расскажу о себу, что я уже умею. Здесь я укажу другие курсы, которые я уже проходил. Могу перечислить технологии, которыми уже умею пользоваться. К примеру: html5, css3, sass, jade, git и пр.
        .coursesBlock
            h1 Курсы на loftblog
            h2 которые мне помогут в выполнении этого задания
            ul.courses
                li.js
                    .img
                    .text
                        h3 Основы JavaScript
                        p Видеокурс об одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                        .info
                            .clockImg
                            p.info 24 урока (6 часов 46 минут)
                    .checkBox
                        .box
                        h3 Посмотрел
                li.jquery
                    .img
                    .text
                        h3 Основы JQUERY
                        p Видеокурс об одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.
                        .info
                            .clockImg
                            p.info 11 уроков (2 часа 6 минут)
                    .checkBox
                        .box
                        h3 Посмотрел
                li.basicElements
                    .img
                    .text
                        h3 Базовые элементы страницы
                        p Видеокурс по верстке и программированию основных и популярных элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон, слайдшоу, спойлер и т.д.
                        .info
                            .clockImg
                            p.info 9 уроков (2 часа 7 минут)
                    .checkBox
                        .box
                        h3 Посмотрел
                li.adapt
                    .img
                    .text
                        h3 Создание адаптивных сайтов
                        p В этом курсе вы узнаете как создавать адаптивные сайты, что такое адаптивная верстка и дизайн.
                        .info
                            .clockImg
                            p.info 7 уроков (2 часов 11 минут)
                    .checkBox
                        .box
                        h3 Посмотрел
                li.css1
                    .img
                    .text
                        h3 Верстка адаптивной css галереи
                        p В этом видеоуроке вы изучите инструменты, техники и подходы для web-разработчика, которые помогут вам решать поставленные задачи более быстро и эффективно.
                        .info
                            .clockImg
                            p.info 6 уроков (1 час 9 минут)
                    .checkBox
                        .box
                        h3 Посмотрел
                li.css2
                    .img
                    .text
                        h3 Верстка адаптивной css галереи
                        p В этом курсе мы разберем как сверстать адаптивную css галерею. также познакомимся с Flexbox.
                        .info
                            .clockImg
                            p.info 4 урока (50 минут)
                    .checkBox
                        .box
                        h3 Посмотрел
        .footer
            .footerText А это футер с текстом внутри. Он должен быть прибит к низу окна браузера, независимо от количества контента и размера окна.